extends layout

block content
  h1= title
  p Welcome to the Tea pug
   div(class="container-fluid")
        div(class="row")
            -
                let Tea = [
                    {
                        "Flavor": "Mango Tea",
                        "color": "Yellow",
                        "price": 9
                    },
                    {
                        "Flavor": "Ginger Tea",
                        "color": "Yellow",
                        "price": 8.7
                    },
                    {
                        "Flavor": "Lemon Tea",
                        "color": "Green",
                        "price": 8.9
                    },                   
                ]
            each x,index in Tea
                table(style='width:100%', border='1')
                  tr 
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.Flavor}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.color}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{x.price}
  script.                
        function buy(drink)
        {
              alert(`you purchased tea ${drink + 1}`)
        }